@import "fonts/fontSizes.css";

:root {
  --vh: 1vh;
}

body {
  height: calc(var(--vh) * 100);
  object-fit: cover;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  place-content: center;
  align-items: center;
  > :nth-child(1) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    // width: 90%;
    // height: 95%;
    // margin: 1rem;  
    align-items: center;
    > :nth-child(1) {
    }
    > :nth-child(2) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      place-content: center;
      img {
        width: 90%;
        max-width: 525px;
      }
    }
    > :nth-child(3) {
      color: #00265d;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      > :nth-child(3) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        place-content: center;
        margin-bottom: 1rem;
        img {
          width: 90%;
          max-width: 45px;
        }
      }
      > :nth-child(3) {
        color: #00265d;
        text-decoration: none;
      }
    }
  }
}

.spotify {
  color: #1db954;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
